@page "/"
@inject HttpClient httpClient

<p role="time" style="margin: 0px;">@time</p>
<p role="ppm" style="margin: 0px; font-size: 1.5rem">Konsentrasi: @_ppmValue PPM</p>


@code
{
    private string _ppmValue = "0";
    private string time = DateTime.Now.ToString("HH:mm:ss tt");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(1));
            while(await periodicTimer.WaitForNextTickAsync())
            {
                time = DateTime.Now.ToString("HH:mm:ss tt");
                await GetRealtimeAsync();
                this.StateHasChanged();
            }
        }
    }

    private async Task GetRealtimeAsync()
    {
        var request = new HttpRequestMessage
        {
            RequestUri = new Uri("http://mthrowaway488-001-site1.dtempurl.com/api/read/realtime"),
            Method = HttpMethod.Get
        };
        request.Headers.Add("Accept", "*/*");
        var response = await httpClient.SendAsync(request);
        if(response.IsSuccessStatusCode)
        {
            var content = response.Content.ReadAsStringAsync().Result;
            _ppmValue = content;
        }
    }

}
