@inherits LayoutComponentBase
@namespace m0.maui.Shared
@using Plugin.LocalNotification
@using System.Text.Json
@using System.Net.Http.Json
@inject HttpClient httpClient
@inject m0.maui.Interfaces.IForegroundService Service

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            Service.Start();

            var periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(1));
            while(await periodicTimer.WaitForNextTickAsync())
            {
                await GetRealtimeAsync();
                this.StateHasChanged();
            }
        }
    }

    private async Task GetRealtimeAsync()
    {
        var request = new HttpRequestMessage
        {
            RequestUri = new Uri("http://mthrowaway488-001-site1.dtempurl.com/api/read/realtime"),
            Method = HttpMethod.Get
        };
        request.Headers.Add("Accept", "*/*");
        var response = await httpClient.SendAsync(request);
        if(response.IsSuccessStatusCode)
        {
            var content = response.Content.ReadAsStringAsync().Result;
            Singleton.PPM = int.Parse(content);
        }

        if(Singleton.PPM >= 290)
        {
            var notification = new NotificationRequest
            {
                NotificationId = 1000,
                Title = "Warning",
                Subtitle = "Kebocoran terdeteksi.",
                Description = $"Kadar gas LPG {Singleton.PPM} PPM",
                BadgeNumber = 42
            };

            await LocalNotificationCenter.Current.Show(notification);
        }
    }
}